body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1188f8;
}

.clock {
    position: relative;
    border-radius: 100%;
    background: #2ebbfc;
    font-family: "Montserrat";
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
    overflow: hidden;
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 100%;
}

.minute,
.hour {
    position: absolute;
    height: 100px;
    width: 6px;
    margin: auto;
    top: -27%;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.minute {
    position: absolute;
    height: 130px;
    width: 4px;
    top: -35%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
}

.second {
    position: absolute;
    height: 90px;
    width: 2px;
    margin: auto;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #FF4B3E;
    transform-origin: bottom center;
    transform: rotate(180deg);
    z-index: 1;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: white;
    border: 2px solid #1b1b1b;
    border-radius: 100px;
    margin: auto;
    z-index: 1;
}

.clock ul {
    position: relative;
    list-style: none;
    padding: 0;
    width: 360px;
    height: 350px;
    top: -10px;
    right: -10px;
}

.clock ul li {
    width: auto;
    height: auto;
    position: absolute;
    font-size: 2rem;
}

.clock ul li:nth-child(1) {
    right: 22%;
    top: 6.5%
}

.clock ul li:nth-child(2) {
    right: 6%;
    top: 25%
}

.clock ul li:nth-child(3) {
    right: 1%;
    top: calc(50% - 10px);


}

.clock ul li:nth-child(4) {
    right: 6%;
    top: 69%;
}

.clock ul li:nth-child(5) {
    right: 22%;
    top: 84%;
}

.clock ul li:nth-child(6) {
    right: calc(50% - 10px);
    top: calc(99% - 20px);

}

.clock ul li:nth-child(7) {
    left: 22%;
    top: 84%;
}

.clock ul li:nth-child(8) {
    left: 6%;
    top: 69%;
}

.clock ul li:nth-child(9) {
    left: 1%;
    top: calc(50% - 10px);

}

.clock ul li:nth-child(10) {
    left: 6%;
    top: 25%;
}

.clock ul li:nth-child(11) {
    left: 22%;
    top: 6.5%;
}

.clock ul li:nth-child(12) {
    right: calc(50% - 19px);
    top: 1%;
}